aioftp==0.27.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astropy==7.2.0
astropy-iers-data==0.2026.1.12.0.42.13
astropy_healpix==1.1.2
asttokens==3.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.8.2
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.1.7
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.1
cycler==0.12.1
dash==3.3.0
dask==2025.12.0
dask-image==2025.11.0
debugpy==1.8.19
decorator==5.2.1
donfig==0.8.1.post1
dpkt==1.9.8
executing==2.2.1
fastapi==0.128.0
Flask==3.0.3
Flask-MySQLdb==2.0.0
fonttools==4.54.1
frozenlist==1.8.0
fsspec==2026.1.0
google-crc32c==1.8.0
groq
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
locket==1.0.0
lxml==6.0.2
MarkupSafe==3.0.1
matplotlib==3.9.2
matplotlib-inline==0.2.1
mpl_animators==1.2.4
multidict==6.7.0
mysql-connector-python==9.1.0
mysqlclient==2.2.7
narwhals==2.15.0
nest-asyncio==1.6.0
nltk==3.9.1
npm==0.1.1
numcodecs==0.16.5
numpy==2.1.2
optional-django==0.1.0
packaging==24.2
pandas==2.2.3
parfive==2.2.0
parso==0.8.5
partd==1.4.2
peft
pillow==11.0.0
PIMS==0.7
platformdirs==4.5.1
plotly==6.5.1
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.1
pure_eval==0.2.3
pyarrow==22.0.0
PyAVM==0.9.8
pydantic==2.12.5
pydantic_core==2.41.5
pyerfa==2.0.1.5
Pygments==2.19.2
pyparsing==3.2.0
python-bitcoinrpc==1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
python-pptx==1.0.2
pytz==2024.2
PyYAML==6.0.3
pyzmq==27.1.0
regex==2024.9.11
reproject==0.19.0
requests==2.32.5
retrying==1.4.2
scikit-learn==1.5.2
scipy==1.14.1
setuptools==80.9.0
six==1.16.0
slicerator==1.1.0
soupsieve==2.8.1
stack-data==0.6.3
starlette==0.50.0
sunpy==7.1.0
threadpoolctl==3.5.0
tifffile==2025.12.20
toolz==1.1.0
torch --index-url https://download.pytorch.org/whl/cpu
tqdm==4.66.5
traitlets==5.14.3
transformers
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
unsloth
urllib3==2.6.3
uvicorn==0.40.0
wcwidth==0.2.14
Werkzeug==3.0.4
widgetsnbextension==4.0.15
xlsxwriter==3.2.9
yarl==1.22.0
zarr==3.1.5
zipp==3.23.0
opencv-python
opencv-python-headless
pytest
pytest-asyncio
